doctype html
html
  head
  body
    form(method='POST', action='/crearUsuario')
      label crearUsuario: 
      label nombreUsuario
      input(type='text', name='username')
      label password
      input(type='text', name='password')
      button(type='submit') Enviar