doctype html
html
  head
  body
    form(method='POST', action='/crearEstacion')
      label nombre
      input(type='text', name='nombre')
      label latitud
      input(type='text', name='latitud')
      label longitud
      input(type='text', name='longitud')
      button(type='submit') Enviar
